{% extends "app/templates/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h1>Register</h1>
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <p class="help_text">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="flex-row">
        <input class="best" type="submit" value="Register">
        <p class="other_option">Already have an account?<br><a href="{% url 'login' %}">Login</a></p>
    </div>
</form>
{% endblock %}