{% extends "ex01/templates/base.html" %}


{% block title %}Ex01 : Moteur de template.{% endblock %}


{% block styles %}
<style>
    body {
        background-color: #f8f8f8;
        color: #333;
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
    }
    main {
        margin-top: 20px;
        margin-bottom: 75px;
        text-align: justify;
        width: 75vw;
        margin: auto;
    }
</style>
{% endblock %}


{% block content %}
    <h1>Moteur de template</h1>

    <h2>Blocs :</h2>
    <p>Les blocs permettent de définir des zones dans un template qui peuvent être remplacées par d'autres contenus dans des templates enfants. Voici un exemple :</p>
    <pre>&#123;% block contenu %&#125;&#123;% endblock %&#125;</pre>

    <h2>Boucles for ... in :</h2>
    <p>Les boucles for ... in permettent de parcourir des listes ou des dictionnaires dans un template. Voici un exemple :</p>
    <pre>&#123;% for item in liste %&#125;
    &#123;&#123; item &#125;&#125;
&#123;% endfor %&#125;</pre>

    <h2>Structures de contrôle if :</h2>
    <p>Les structures de contrôle if permettent d'effectuer des tests conditionnels dans un template. Voici un exemple :</p>
    <pre>&#123;% if condition %&#125;
    Contenu affiché si la condition est vraie.
&#123;% else %&#125;
    Contenu affiché si la condition est fausse.
&#123;% endif %&#125;</pre>

    <h2>Affichage de variables passées par contexte :</h2>
    <p>Les variables passées par contexte depuis la vue peuvent être affichées dans un template en utilisant des balises doubles accolades. Voici un exemple :</p>
    <pre>&lt;h1&gt;&#123;&#123; titre &#125;&#125;&lt;/h1&gt;</pre>

    <p>Ceci représente un aperçu simplifié du fonctionnement du moteur de templates de Django, mettant en avant les fonctionnalités des blocs, des boucles for...in, des structures de contrôle if, et de l'affichage de variables passées par contexte.</p>
{% endblock %}