<nav class="navbar navbar-default">
    <ul>
        <li><a href={% url 'home' %}>Home</a></li>
        <li><a href={% url 'articles' %}>Last Articles</a></li>
        {% if not user.is_authenticated %}
            <li><a href={% url 'register' %}>Register</a></li>
            <form action={% url 'login' %} method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        {% else %}
            <li><a href={% url 'favorites' %}>Favorites</a></li>
            <li><a href={% url 'publications' %}>Publications</a></li>
            <p>Logged as {{ user.username }}</p>
            <li>
                <form action={% url 'logout' %} method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </li>
        {% endif %}
    </ul>
</nav>