
{% comment %} <nav class="navbar navbar-dark bg-dark rounded mb-2 p-0 ">

    <div class="d-flex align-items-center">


            <a class="nav-link navbar-brand d-inline-flex align-items-start align-items-center text-secondary m-3 mt-1 mb-1" href={% url 'home' %}>
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-house-fill m-2" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
            </a>

            <a class="nav-link text-secondary m-0" href={% url 'articles' %}>
                <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                    Articles
                </button>
            </a>

        {% if not user.is_authenticated %}

            <a class="nav-link text-secondary m-0" href={% url 'register' %}>
                <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                    Register
                </button>
            </a>

        </div>


        <div class="d-flex align-items-center justify-content-end mr-auto">
            <form class="form-inline m-2" action={% url 'login' %} method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="round mt-2 mb-2">
                <input type="password" name="password" placeholder="Password" class="round m-1 mt-2 mb-2">
                <input class="btn btn-outline-secondary m-2" type="submit" value="Login">
            </form>
        </div>


        {% else %}

            <a class="nav-link text-secondary m-0" href={% url 'favorites' %}>
                <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                    Favorites
                </button>
            </a>

            <a class="nav-link text-secondary m-0" href={% url 'publications' %}>
                <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                    Publications
                </button>
            </a>

        </div>


        <div class="d-flex flex-row align-items-center mr-auto m-2">

            <p class="nav-item nav-text d-block flex-row align-items-center my-auto mx-2 text-secondary">Logged as {{ user.username }}</p>

            <form class="form-inline nav-item" action={% url 'logout' %} method="post">
                {% csrf_token %}
                <input class="btn btn-outline-secondary m-2" type="submit" value="Logout">
            </form>

        </div>

    {% endif %}

</nav> {% endcomment %}

{% if not user.is_authenticated %}

<style>
    @media (max-width: 767px) {
        .login-form {
            display: none;
        }
        .login-link {
            display: inline;
        }
    }
    @media (min-width: 768px) {
        .login-form {
            display: inline;
        }
        .login-link {
            display: none;
        }
    }
</style>

<nav class="navbar navbar-dark bg-dark mb-2">

    <span class="d-flex align-items-center">
        <a class="nav-link navbar-brand d-inline-flex align-items-start align-items-center text-secondary m-3 mt-1 mb-1" href={% url 'home' %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-house-fill m-2" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            </svg>
        </a>

        <a class="nav-link text-secondary m-0" href={% url 'articles' %}>
            <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                Articles
            </button>
        </a>

        <a class="nav-link text-secondary m-0" href={% url 'register' %}>
            <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                Register
            </button>
        </a>

    </span>

    <span class="d-flex align-items-center justify-content-end mr-auto">
        <form class="form-inline m-1 mb-0 mt-0 login-form" action={% url 'login' %} method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="round m-1 mb-0 mt-0">
            <input type="password" name="password" placeholder="Password" class="round m-1 mb-0 mt-0">
            <input class="btn btn-outline-secondary m-2" type="submit" value="Login">
        </form>

        <a class="nav-link text-secondary m-2 login-link" href={% url 'login' %}>
            <button type="button" class="btn btn-outline-secondary">
                Login
            </button>
        </a>
    </span>

</nav>

{% else %}


<style>
    @media (max-width: 767px) {
        .logged-as {
            display: none;
        }
    }
    @media (min-width: 768px) {
        .logged-as {
            display: inline;
        }
    }
</style>

<nav class="navbar navbar-dark bg-dark mb-2">

    <span class="d-flex align-items-center">
        <a class="nav-link navbar-brand d-inline-flex align-items-start align-items-center text-secondary m-3 mt-1 mb-1" href={% url 'home' %}>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-house-fill m-2" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            </svg>
        </a>

        <a class="nav-link text-secondary m-0" href={% url 'articles' %}>
            <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                Articles
            </button>
        </a>

        <a class="nav-link text-secondary m-0" href={% url 'favorites' %}>
            <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                Favorites
            </button>
        </a>

        <a class="nav-link text-secondary m-0" href={% url 'publications' %}>
            <button type="button" class="btn btn-outline-secondary h-100 border-0 rounded-0">
                Publications
            </button>
        </a>

    </span>

    <span class="d-flex flex-row align-items-center justify-content-end m-2 mb-0 mt-0">

        <span class="logged-as">
            <p class="nav-item nav-text d-block flex-row align-items-center my-auto mx-2 text-secondary">Logged as {{ user.username }}</p>
        </span>

        <form class="form-inline nav-item" action={% url 'logout' %} method="post">
            {% csrf_token %}
            <input class="btn btn-outline-secondary m-2" type="submit" value="Logout">
        </form>

    </span>

</nav>

{% endif %}