<form id="register-form" method="post" action="{% url 'register' %}">

    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" required class="form-control">
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            <ul class="errorlist" id="{{ field.name }}_errors"></ul>
        </div>
    {% endfor %}

    <span class="form-group d-flex align-items-center">
        <button type="submit" class="btn btn-secondary">Register</button>
        <p class="mb-0 ms-2">Already have an account? <a href="{% url "login" %}" class="login link-secondary">Login</a></p>
    </span>

</form>
