{% load static %}
{% load tz %}

<div id="chat" class="h-100">

    <nav id="chat-navbar" class="navbar navbar-dark bg-dark navbar-expand-lg ps-3 pe-3">
        <h1 class="navbar-brand">{{ chat.name }}</h1>
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" id="nb_user">Users</button>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                Users in {{ chat.name }} chat:
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul id="chat-users"></ul>
        </div>
    </div>

    <section id="chat-messages" class="d-flex flex-column p-2">
        <ul id="messages-list" class="flex-grow-1 ps-3 pe-3"></ul>
    </section>

    <form id="chat-form" method="post" class="d-flex justify-content-between align-items-center">
        <div class="input-group">
            <input id="chat-message-input" type="text" name="text" required class="form-control" placeholder="Type a message..." autocomplete="off" autofocus>
            <button type="submit" class="btn btn-secondary" id="chat-message-submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
                Send
            </button>
        </div>
    </form>

</div>

<script>

    function create_message_card(message, username, datetime, id) {
        let message_card = $("<li class='chat-message li-message p-2 d-flex'><div class='chat-message-card p-2' style='background-color: #33333317;'><img class='p-2' src='{% static 'img/default_user.svg' %}' style='width: 50px;'><div class='card-body chat-card-body p-2- ps-3 pe-3'><span class='d-flex gap-2 align-items-center' style='flex-wrap: wrap;'><h5 class='card-title small nowrap'><b>" + username + "</b></h5><p class='card-title small nowrap'>" + datetime + "</p></span><p class='card-text'>" + message + "</p></div></div></li>");
        message_card[0].id = 'chat_message_' + id;
        if (username === "{{ user.username }}") {
            message_card[0].classList.add('justify-content-end');
        } else {
            message_card[0].classList.add('justify-content-start');
        }
        return message_card;
    }

    async function update_message_list() {
        await $.get("{% url 'chatroom_messages' chat.name %}", function(messages) {
            const messagesList = $('#messages-list');
            for (let i = 0; i < messages.length; i++) {
                const message_card = create_message_card(
                    messages[i]['content'],
                    messages[i]['user'],
                    messages[i]['created_at'],
                    messages[i]['id']
                );
                messagesList.append(message_card);
            }
            $('#messages-list').scrollTop($('#messages-list')[0].scrollHeight);
        });
    }

    async function update_user_list() {
        await $.get("{% url 'chatroom_users' chat.name %}", function(chatroom_users) {
            $('#chat-users').empty();
            for (let i = 0; i < chatroom_users.length; i++) {
                $('#chat-users').append($('<li class="list-group-item chat-user-item">' + chatroom_users[i] + '</li>'));
            }
            if (chatroom_users.length < 2) {
                $('#nb_user').text(chatroom_users.length + ' User');
            } else {
                $('#nb_user').text(chatroom_users.length + ' Users');
            }
        });
    }

    var chatSocket = null;

    async function join_chatroom(chatroomName) {

        await update_message_list();
        update_user_list();

        const username = "{{ user.username }}";
        const roomName = "{{ chat.name }}";
        const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";

        chatSocket = new WebSocket(wsScheme + '://' + window.location.host + '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            const event = JSON.parse(e.data);
            if (event.type === 'chat_message') {
                let message_card = create_message_card(
                    event.message,
                    event.username,
                    event.datetime,
                    event.id
                );
                $('#messages-list').append(message_card);
            } else if (event.type === 'chat_connection') {
                const message = "<b>" + event.username + "</b> has joined the chat";
                $('#messages-list').append('<li class="chat-message p-2 connexion-message" >' + message + '</li>');
                update_user_list();
            } else if (event.type === 'chat_disconnection') {
                // Add the '<user> has left the chat' to messages_list
                const message = "<b>" + event.username + "</b> has left the chat";
                $('#messages-list').append('<li class="chat-message p-2 connexion-message">' + message + '</li>');
                update_user_list();
            } else {
                return
            }
            $('#messages-list').scrollTop($('#messages-list')[0].scrollHeight);
        };

    }

    function leave_chatroom() {
        chatSocket.close();
    }

    $('#chat-message-submit').on('click', function(e) {
        e.preventDefault();
        const messageInputDom = $('#chat-message-input');
        const message = messageInputDom.val();
        const username = "{{ user.username }}";
        if (message.trim() === '') {
            return;
        }
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username
        }));
        messageInputDom.val('');
        $('#chat-message-input').focus();
    });

    function set_chat_height() {
        try {
            var window_heigth = window.innerHeight;
            var navbar_closed_height = 56;
            var main_padding = $('main').css('padding-top').replace('px', '') * 1
                + $('main').css('padding-bottom').replace('px', '') * 1
            var chat_navbar_height = $('#chat-navbar').height()
                + $('#chat-navbar').css('padding-top').replace('px', '') * 1
                + $('#chat-navbar').css('padding-bottom').replace('px', '') * 1;
            var chat_form_height = $('#chat-form').height();
            var footer_height = $('footer').height();
            let one_hundred_percent = window_heigth - navbar_closed_height - main_padding - footer_height - chat_navbar_height - chat_form_height;
            let css_value = (one_hundred_percent) + "px";
            $('#chat-messages').css('max-height', css_value);
        } catch (error) {
            return;
        }
    }

    $(document).ready(function() {
        join_chatroom('{{ chat.name }}');
        set_chat_height();
    });

    $(window).resize(function() {
        set_chat_height();
        $('#messages-list').scrollTop($('#messages-list')[0].scrollHeight);
    });

</script>
