{% load static %}

<section>
    <h2>Chatrooms</h2>
    <p>Join a chatroom to start chatting with other users.</p>
    <div class="list-group">
        {% for chatroom in chatrooms|dictsort:"created_at" %}
            <button class="list-group-item list-group-item-action d-flex chatroom-list-btn" onclick="joinChatroom('{{chatroom.name}}')">
                <img class="chatroom-list-img" src="{% static 'img/hash.svg' %}" alt="Card image cap">
                <div class="chatroom-list-button-right card-body">
                    <h6 class="card-title chatroom-name">{{ chatroom.name }}</h6>
                    <p class="card-text mb-1">{{ chatroom.description }}</p>
                </div>
                <div>
                    <a href="#" class="btn btn-secondary join-chatroom" disabled onclick="return false;">Join</a>
                </div>
            </button>
        {% endfor %}
    </div>
</section>

<script>

    var current_chatroom = null;

    // Add the chatrooms to the navbar
    function add_chatrooms_navbar() {
        if ($('.navbar-chatroom-link').length) { return; }
        const chatrooms = $('.chatroom-name');
        const chatrooms_ul = $('<ul class="navbar-nav"></ul>');
        chatrooms.each(function() {
            const chatroom_name = $(this).text();
            const chatroom_li = $('<li class="nav-item"></li>');
            const chatroom_button = $('<button class="nav-link navbar-chatroom-link" onclick="joinChatroom(\'' + chatroom_name + '\')">' + chatroom_name + '</button>');
            chatroom_li.append(chatroom_button);
            chatrooms_ul.append(chatroom_li);
        });
        // Add the chatrooms to the navbar
        $('#chatrooms-nav-list').append(chatrooms_ul);
    }

    // Set the chatroom active in the chatroom list navbar
    function set_chatroom_active_navbar(chatroomName) {
        const chatrooms = $('.navbar-chatroom-link');
        chatrooms.each(function() {
            $(this).removeClass('active');
            if ($(this).text() === chatroomName) {
                $(this).addClass('active');
            }
        });
    }

    // Join a chatroom by loading the chatroom page
    async function joinChatroom(chatroomName) {
        $('#navbarNavDarkDropdown').collapse('hide');
        if (current_chatroom === chatroomName) { return; }
        set_chatroom_active_navbar(chatroomName);
        if (current_chatroom) { leaveChatroom(); }
        await $.get(`/chat/${chatroomName}`, function(data) {
            current_chatroom = chatroomName;
            $('main').html(data);
        });
    }

    // Leave the current chatroom
    function leaveChatroom() {
        leave_chatroom(current_chatroom);
        current_chatroom = null;
    }

    // Add the chatroom names in the navbar
    $(document).ready(function() {
        add_chatrooms_navbar();
    });

</script>
