{% load static %}

<section>
    <h2>Chatrooms</h2>
    <p>Join a chatroom to start chatting with other users.</p>
    <div>
        <ul class="row">
            {% for chatroom in chatrooms|dictsort:"created_at" %}
                <li class="col m-3 d-flex justify-content-center align-items-center">
                    <button class="btn btn-secondary chatroomlist-btn mb-3" onclick="window.location.href='{% url 'chat' chatroom.name %}'">
                        <div class="card card-background card-chatroomslist" style="width: 18rem;">
                            <div class="card-img-top">
                                <img class="width_img" src="{% static 'img/hash.svg' %}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ chatroom.name }}</h5>
                                <p class="card-text">{{ chatroom.description }}</p>
                                <a href="{% url 'chat' chatroom.name %}" class="btn btn-secondary join-chatroom">Join</a>
                            </div>
                        </div>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script></script>