{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <section>
            <header>
                <h1>{{ title }}</h1>
            </header>
            {% include 'd05/templates/nav.html' %}
            <main>
                {% block content %}{% endblock %}
            </main>
            {% include 'd05/templates/footer.html' %}
        </section>


    </body>
</html>
