{% extends "d05/templates/base.html" %}

{% block content %}
    {% if data %}
        <table>
            <tr>
                {% for field in fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
            {% for movie in data %}
                <tr>
                    {% for value in movie %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}
{% endblock %}
