{% extends "d05/templates/base.html" %}

{% block content %}
    {% if data %}
        <table>
            <tr>
                <th>episode_nb</th>
                <th>release_date</th>
                {% if created_column %}
                    <th>created</th>
                    <th>updated</th>
                {% endif %}
                <th>title</th>
                <th>opening_crawl</th>
                <th>director</th>
                <th>producer</th>
            </tr>
            {% for movie in data %}
                <tr>
                    <td>{{ movie.episode_nb }}</td>
                    <td>{{ movie.release_date }}</td>
                    {% if created_column %}
                        <td>{{ movie.created }}</td>
                        <td>{{ movie.updated }}</td>
                    {% endif %}
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.opening_crawl }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.producer }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}
{% endblock %}
