html {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    display: flex !important;
    flex-direction: column;
}

main {
    flex: 1 !important;
    padding: 2rem;
}

#login-form,
#register-form,
#chat,
.card-chatroomslist,
.chat-user-item {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 1rem;
    background-color: #ffffffaf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-chatroomslist {
    background-color: #fafafaf0;
}

.chatroomlist-btn {
    padding: 0;
    border: none;
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
}

ul,
.errorlist {
    list-style: none;
    padding: 0;
}

.width_img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

#chat-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffaf;
    border-radius: 5px 5px 0 0;
}

#chat-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;
}

#messages-list {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

#messages_list * {
    text-wrap: wrap;
}

.card-text {
    text-wrap: wrap;
    word-break: break-all;
}

.navbar-brand {
    margin-bottom: 0;
}

#messages_list {
    border: 1px solid;
    height: calc(100% - 2rem);
    margin: 1rem;
}

.input-group {
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

#chat-message-input:focus,
input:focus {
    outline: none !important;
    border-color: #333;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.chat-message-card {
    width: fit-content;
    max-width: 75%;
    background-color: #ffffffaf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.chat-message-user-img {
    width: 50px;
    max-width: 50px;
}

.chat-card-body {
    max-width: calc(100% - 50px);
}

#chat-message-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nowrap {
    text-wrap: nowrap;
    overflow: hidden;
}

#navbar-ul {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

main.container {
    flex: 1;
}

.chatroom-list-img {
    height: 100%;
    width: auto;
    padding: 1rem;
    margin: auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
}

.chatroom-list-btn {
    width: auto;
    padding: 1rem;
    align-items: center;

}

.list-group {
    height: 100%;
}

#chatrooms {
    height: 100%;
}

#chatrooms>section:nth-child(1) {
    height: 100%;
}

.chatroom-list-button-right {
    padding-left: 1rem;
}

.connexion-message {
    text-align: center;
}