html {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    display: flex !important;
    flex-direction: column;
}

main {
    flex: 1 !important;
    padding: 2rem;
}

#login-form,
#register-form {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 1rem;
    background-color: #ffffffaf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul,
.errorlist {
    list-style: none;
    padding: 0;
}