{% comment %} Login script {% endcomment %}

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function getCSRFToken() {
        return getCookie('csrftoken');
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCSRFToken());
            }
        }
    });


    // Submit login form
    $(document).on('submit', '#login-form', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "login" %}',
            type: 'POST',
            data: {
                username: $('#id_username').val(),
                password: $('#id_password').val()
            },
            success: function(response) {
                if (response.success) {
                    $('body').html(response.body);
                } else {
                    let errorlists = $('.errorlist');
                    for (let i = 0; i < errorlists.length; i++) {
                        errorlists[i].innerHTML = '';
                    }
                    $.each(response.errors, function(key, value) {
                        let field_ul = $('#login_errorlist');
                        $.each(value, function(index, error) {
                            field_ul.append('<li class="alert alert-danger mt-1 mb-1">' + error + '</li>');
                        });
                    });
                }
            }
        });
    });

    // Submit register form
    $(document).on('submit', '#register-form', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "register" %}',
            type: 'POST',
            data: {
                username: $('#id_username').val(),
                password1: $('#id_password1').val(),
                password2: $('#id_password2').val(),
            },
            success: function(response) {
                if (response.success) {
                    $('body').html(response.body);
                } else {
                    let errorlists = $('.errorlist');
                    for (let i = 0; i < errorlists.length; i++) {
                        errorlists[i].innerHTML = '';
                    }
                    $.each(response.errors, function(key, value) {
                        let field_ul = $('#'+ key + '_errors');
                        $.each(value, function(index, error) {
                            field_ul.append('<li class="alert alert-danger mt-1 mb-1">' + error + '</li>');
                        });
                    });
                }
            }
        });
    });

    // Load register form
    $(document).on('click', '.register', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "register" %}',
            type: 'GET',
            success: function(response) {
                $('main').html(response);
            }
        });
    });

    // Load login form
    $(document).on('click', '.login', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "login" %}',
            type: 'GET',
            success: function(response) {
                $('main').html(response);
            }
        });
    });

    // Logout
    $(document).on('click', '.logout', function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "logout" %}',
            type: 'POST',
            success: function(response) {
                $('body').html(response.body);
                $.ajax({
                    url: '{% url "login" %}',
                    type: 'GET',
                    success: function(response) {
                        $('main').html(response);
                    }
                });
            }
        });
    });


</script>


