
{% extends 'app/templates/base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block header %}
<h1 class="m-2 mb-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Articles</h1>
<h2 class="m-2 mb-0 text-secondary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Share your writings</h2>
{% endblock %}

{% block content %}

    {% comment %}

    Page HTML affichant sous forme de table HTML tous les champs (à l’excep- tion de content) de tous les articles enregistrés dans la table Article.
    Le tableau doit disposer d’un header indiquant le titre de chaque colonne.

    {% endcomment %}

    {% if not object_list %}
        <p class="text-center">There are no articles yet.</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">Title</th>
                        <th width="50%">Synopsis</th>
                        <th width="10%">Author</th>
                        <th width="10%">Created</th>
                        <th width="10%">When</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in object_list|dictsortreversed:"created" %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td>{{ article.synopsis|truncatechars:20 }}</td>
                            <td>{{ article.author }}</td>
                            <td>{{ article.created|date }},</br>{{article.created|time}}</td>
                            <td>{{ article.created|timesince }} ago</td>
                            <td><a href="{% url 'details' article.pk%}"><button class="btn btn-secondary">Read</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="fixed-bottom d-flex justify-content-center m-0 mt-3">
            <button class="btn btn-secondary m-3" onclick="window.location.href='{% url 'publish' %}'">New article</button>
        </div>
    {% endif %}

{% endblock %}