
{% extends 'app/templates/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Favorites' %}{% endblock %}

{% block header %}
<h1 class="m-2 mb-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{% trans 'Favorites' %}</h1>
<h2 class="m-2 mb-0 text-secondary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{% trans 'Your favorite articles' %}</h2>
{% endblock %}

{% block content %}

    {% if not object_list %}
        <p class="text-center">{% trans "You don't have any favorite articles yet." %}</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">{% trans 'Title' %}</th>
                        <th width="50%">{% trans 'Synopsis' %}</th>
                        <th width="15%">{% trans 'Created' %}</th>
                        <th width="15%">{% trans 'Since' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        {% for favorite in object_list reversed %}
                <tr>
                    <td>{{ favorite.article.title }}</td>
                    <td>{{ favorite.article.synopsis|truncatechars:20 }}</td>
                    <td>{{ favorite.article.created|date }},</br>{{favorite.article.created|time}}</td>
                    <td>{{ favorite.article.created|timesince }}</td>
                    <td><a href="{% url 'details' favorite.article.pk%}"><button class="btn btn-secondary">{% trans 'Read' %}</button></a></td>
                </tr>
        {% endfor %}
    {% endif %}
    <div class="fixed-bottom d-flex justify-content-center m-0 mt-3">
        <button class="btn btn-secondary m-3" onclick="window.location.href='{% url 'publish' %}'">{% trans 'New article' %}</button>
    </div>

{% endblock %}