<!-- templates/registration/signup.html -->
{% extends "app/templates/base.html" %}

{% block title %}Publish{% endblock %}

{% block header %}
<h1 class="m-2 mb-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Publish</h1>
<h2 class="m-2 mb-0 text-secondary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Create a new article</h2>
{% endblock %}

{% block content %}
  <form method="post" class="form-control mt-2">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group mt-2 mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == 'content' %}
                <textarea class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" rows="10" style="resize: none;"></textarea>
            {% else %}
                <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}">
            {% endif %}
            {% if field.help_text %}
                <p class="form-text text-muted">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
                <p class="form-text text-muted">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="d-flex mt-2 align-items-center justify-content-start">
        <button class="btn btn-outline-secondary" type="submit">Publish</button>
    </div>
</form>
{% endblock %}