
{% extends 'app/templates/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Publications' %}{% endblock %}


{% block header %}
<h1 class="m-2 mb-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{% trans 'Publications' %}</h1>
<h2 class="m-2 mb-0 text-secondary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{% trans 'The articles you have published' %}</h2>
{% endblock %}


{% block content %}

    {% comment %}

    Page HTML affichant, sous forme de table HTML les champs ’title’, ’synopsis’ et ’created’, de tous les articles enregistrés dans le modèle ’Article’ dont l’auteur est l’utilisateur actuellement connecté.

    {% endcomment %}

    {% if not object_list %}
        <p class="text-center">{% trans "You haven't published any articles yet." %}</p>
    {% else %}
       <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="20%">{% trans 'Title' %}</th>
                    <th width="50%">{% trans 'Synopsis' %}</th>
                    <th width="30%">{% trans 'Created' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in object_list %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.synopsis|truncatechars:20 }}</td>
                        <td>{{ article.created|date }},</br>{{article.created|time}}</td>
                        <td><a href="{% url 'details' article.pk%}"><button class="btn btn-secondary">{% trans 'Read' %}</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="fixed-bottom d-flex justify-content-center m-0 mt-3">
        <button class="btn btn-secondary m-3" onclick="window.location.href='{% url 'publish' %}'">{% trans 'New article' %}</button>
    </div>

{% endblock %}