<h1>Publications</h1>

{% comment %}

Page HTML affichant, sous forme de table HTML les champs ’title’, ’synopsis’ et ’created’, de tous les articles enregistrés dans le modèle ’Article’ dont l’auteur est l’utilisateur actuellement connecté.

{% endcomment %}

{% if not object_list %}
    <p>No publications found.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Synopsis</th>
                <th>Created</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for article in object_list %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.synopsis }}</td>
                    <td>{{ article.created|date }}</td>
                    <td><a href="{% url 'details' article.pk %}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
