{% extends "base.html" %}
{% load static %}

{% block title %}Ex01 : Django, framework web.{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}" />
{% endblock %}

{% block content %}

<h1>Django, framework web</h1>

<p>Django est un framework open source de développement web, écrit en Python. Il a été créé par Adrian Holovaty et Simon Willison et a été initialement publié en 2005 sous une licence BSD. Le framework tire son nom du célèbre guitariste de jazz Django Reinhardt.</p>

<p>L'objectif principal de Django est de simplifier le processus de développement web en fournissant une infrastructure robuste et flexible pour la construction d'applications web. Il suit le principe du "don't repeat yourself" (DRY) et encourage la réutilisation du code, la productivité et la maintenabilité.</p>

<p>Django offre un ensemble complet de fonctionnalités, y compris un ORM (Object-Relational Mapping) pour interagir avec la base de données, un système de routage d'URLs, un système de templates pour la gestion de l'interface utilisateur, un système de gestion des formulaires, une administration automatique du site, et bien plus encore.</p>

<p>Au fil des années, Django est devenu l'un des frameworks web les plus populaires, utilisé par de nombreuses entreprises et organisations dans le monde entier pour développer des applications web robustes et évolutives. Sa communauté active et ses mises à jour régulières en font un outil puissant et moderne pour le développement web.</p>

{% endblock %}